
    .sub-btn {
      /* background-color: #ff0000; */
      background-color: rgb(255,0,0);
      text-align: center;
      color: white;
      border: none;
      padding: 10px 16px 10px 16px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      transition: opacity 0.15s;
      vertical-align: top;
  
    }
    .join-btn {
      background-color: white;
      border-radius: 2px;
      color: #1c96e8;
      border: 1px solid #1c96e8;
      cursor: pointer;
      margin-right: 8px;
      transition: background-color 0.15s, color 0.15s;
      padding: 9px 15px 9px 15px;
  
  
    }
    .tweet-btn {
      background-color: #1c96e8;
      color: white;
      padding: 10px 16px 10px 16px;
      border-radius: 18px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 15px;
      transition: boz-shadow 0.15s;
      vertical-align: top;
     
    } 
    .req-btn {
      background-color: black;
      color: white;
      padding: 10px 16px 10px 16px;
      text-align: center;
      font-weight: bold;
      font-size: 11px;
      cursor: pointer;
      margin-right: 8px;
      margin-bottom: 8px;
      vertical-align: top;
      transition: opacity 0.15s;
    }
    .add-btn {
      background-color: rgb(255, 216, 20);
      color: black;
      padding: 10px 60px 10px 60px;
      border-radius: 30px;
      font-size: 15px;
      font-weight: bold;
      border: none;
      font-weight: bold;
      cursor: pointer;
      margin-right: 8px;
      vertical-align: top;
      transition: background-color 0.15s;
    }
    .sign-btn {
      background-color: rgb(46, 164, 79);
      color: white;
      padding: 10px 20px 10px 20px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 17px;
      cursor: pointer;
      margin-right: 8px;
      vertical-align: top;
      transition: box-shadow 0.15s;
    }
    .get-btn {
      background-color: rgb(121, 82, 179);
      color: white;
      padding: 10px 20px 10px 20px;
      border: none;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      font-weight: bold;
      font-size: 17px;
      vertical-align: top;
      transition: background-color 0.15s;
  
    }
    .download-btn {
      background-color: white;
      color: rgb(108, 117, 125);
      border-width: 1px;
      border-color: rgb(121, 82, 179);
      border-radius: 5px;
      padding: 10px 19px 10px 19px;
      margin-right: 8px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      vertical-align: top;
      transition: background-color 0.15s, color 0.15s;
  
    }
    .apply-btn {
      background-color: rgb(10, 102, 194);
      color: white;
      padding: 10px 20px 10px 20px;
      /* padding is used to give space inside of an elemetnt */
      border-radius: 30px;
      margin-right: 5px; 
      /* margin is used to give space outside of an element */
      cursor: pointer;
      border: none;
      font-size: 17px;
      font-weight: bold;
      vertical-align: top;
      transition: background-color 0.15s;
      
    }
    .save-btn {
      background-color: white;
      color: rgb(10, 102, 194);
      border-width: 1px;
      border-color: rgb(10, 102, 194);
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      padding: 9px 20px 9px 20px;
      transition: background-color 0.15s, border-width 0.15s;
      vertical-align: top;
      border-radius: 20px;
    }
    .amazon{
      color: rgb(0, 113, 133);
      transition: color 0.15s;
    }
    .price{
      color: rgb(0, 118, 0);
    }
    .cart-btn{
      background-color: rgb(255, 216, 20);
      color: black;
      padding: 8px 35px 8px 35px;
      border-radius: 17.5px;
      border: none;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 8px;
      vertical-align: top;
      transition: opacity 0.15s;
    }
    .buy-btn{
      background-color: rgb(255, 164, 28);
      color: black;
      padding: 8px 35px 8px 35px;
      border-radius: 17.5px;
      border: none;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      vertical-align: top;
      transition: opacity 0.15s;
  
    }
    .sub-btn:hover{
      /* opacity is used to fade out an element, with 1 being the highest opacity */
      opacity: o.8;
    }
    .sub-btn:active{
      opacity: 0.5;
    }
    .join-btn:hover{
      background-color:#1c96e8;
      color: white;
    }
    .join-btn:active{
      opacity:0.7 ;
    }
    .tweet-btn:hover{
      box-shadow:2px 2px 10px rgba(0, 0, 0, 0.15);  
      /* a in rgba show the opacity */
      /* for the shadow boxing The first value is for horizontal, next for vertical, next is blur final last is color*/  
    }
    .req-btn:hover{
      opacity: 0.8 ;
    }
    .add-btn:hover{
      background-color:rgb(255, 213, 4) ;
    }
    .sign-btn:hover{
      box-shadow:2px 3px 10px rgba(0, 0, 0, 0.15) ;
    }
    .get-btn:hover{
      background-color: rgb(102, 69, 151);
    }
    .download-btn:hover{
      color:white ;
      background-color:rgb(108, 117, 125) ;
    }
    .apply-btn:hover{
      background-color:  rgb(8, 87, 167);
    }
    .save-btn:hover{
      background-color:  rgb(244, 246, 248);
      border-width: 2px;
    }
    .amazon:hover{
      color: rgb(241, 117, 127);
    }
    .cart-btn:hover{
      opacity: 0.7;
    }
    .cart-btn:active{
      opacity: 0.5;
    }
    .buy-btn:hover{
      opacity: 0.7;
    }
    .buy-btn:active{
      opacity: 0.5;
    }
   
